.bg {
    position: absolute;
}

.red_bg, .dark_red_bg {
    top: 0;
    left: 0;
    height: 100%;
}

.red_bg {
    background-color: #e53142;
    width: 700px;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 45% 100%, 0% 100%);
}

.dark_red_bg {
    background-color: #c42731;
    width: 800px;
    z-index: -2;
    clip-path: polygon(0 0, 100% 0, 53% 100%, 0% 100%);
}

.pokeball_bg {
    bottom: 0;
    right: 0;
    width: 500px;
    z-index: -3;
}