.types {
    display: flex;
    align-items: center;
    gap: 10px;
}

.type {
    width: 120px;
    border-radius: 3px;
}

.exp_bar {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.exp_bar p {
    margin: 0;
}

.object {
    display: flex;
    align-items: center;
}

.object img {
    width: 50px;
    padding-right: 10px;
}