nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
    gap: 20px;
}

nav img {
    width: 45px;
}

nav img:not(.arrow):hover {
    width: 60px;
    cursor: pointer;
}

.nav_active {
    width: 60px;
}

.arrow:hover {
    cursor: pointer;
}