.right_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.info_band {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    width: 700px;
    height: 50px;
    clip-path: polygon(4% 0, 100% 0, 100% 100%, 0% 100%);
}

.info_band img {
    width: 25px;
}

.pokeball {
    border: 2px solid white;
    border-radius: 50%;
}

.info_band p {
    font-size: x-large;
    font-weight: bold;
}

.gender {
    background-color: blue;
    border-radius: 50%;
    margin-right: 100px;
}

model-viewer {
    height: 90%;
    width: auto;
    margin-right: 150px;
}