body {
  background-color: #e4ecff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #2066cc;
}

a:hover {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5px;
  font-size: larger;
}

table.sticky {
  margin-bottom: 0;
}

th,
td {
  border-bottom: 3px solid #c6c6c6;
  padding: 10px;
}

table tr:last-child th,
table tr:last-child td {
  border-bottom: none;
}

th {
  background-color: #dbdbd9;
  width: 45%;
  font-weight: normal;
}

td {
  background-color: white;
  padding: 0 25px;
}

progress {
  appearance: none;
  height: 6px;
  width: 100%;
  border-radius: 0;
  background-color: #646464;
}

progress::-webkit-progress-bar {
  background-color: #646464;
}

progress::-webkit-progress-value {
  background-color: deepskyblue;
}

progress::-moz-progress-bar {
  background-color: deepskyblue;
}

.description {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 120px;
  max-height: 120px;
  max-width: 700px;
  padding: 20px 70px;
  font-size: large;
  background-color: white;
}
